<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Configure.plist
   ZQFilterMenuView

   Created by 郑泽钦 on 2020/6/27.
   Copyright (c) 2020 acct<blob>=0xE69D8EE69993E696B9. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
